<h1> About us </h1>
<p>
BookXchange provides an official website that allows users to trade or sell their text books to each other.  Each user will have their own profile containing a list of books that they own.  This website’s search engine will allow users to search for books by course number, titles, or ISBN.  Unlike other existing website, our product will provide students within the same educational community the ability to network with each other, easily attain their required text books, and save money.
</p>

