<div class="center hero-unit">
  <h1>Welcome to bookXchange</h1>

  <h4 class="center"> We will handle your books for you </h4>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
</div>
