<div class="center hero-unit">
  <h1>Welcome to bookXchange</h1>

  <h4 class="center"> We will handle your books for you </h4>

  <% if !current_user %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
    <br><br>
    <h5><%= link_to "Or you can start browsing books", books_path %></h5>
  <% else %>
    <%= link_to "Browse Books", books_path, class: "btn btn-large" %>
  <% end %>

</div>
