<li>
  <%= link_to book.title, book %> -
  Added by: <%= link_to book.account.name, book.account %>

  <% if current_user && current_user.admin? || current_user?(book.account) %>
    | <%= link_to "delete", book, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>

  <% if current_user && current_user?(book.account) %>
    | <%= link_to "edit", edit_book_path(book) %>
  <% end %>
</li>