<h1>Books List</h1>

<table class="table table-striped">
	<thead>
    <tr>
      <th>Title</th>
      <th>Added by</th>
      <th>Type</th>
      <th>Actions</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
  	<% if @books.any? %>      
      <%= render @books %>
      <%= will_paginate @books %>
    <% end %>
  </tbody>
</table>