<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new book was added <%= @book.title %> by <%= @account.name%></h1> 
    
  </body>
</html>