<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	Dear <%= @account.name%>,

    	Our system has flagged an access attempt to your account as invalid. Please make sure to reset your password.

    	Regards.

    </p> 
    
  </body>
</html>