<h1>Listing accounts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th>Admin</th>

    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.name, account %></td>

        <td><%= account.admin %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

